<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>equipos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  </head>
  <body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">PODER-CODER</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/eliminatorias/">Grupos</a>
          </li>
          
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <style type="text/css">
      h1
      {
          color: brown;
      }
  </style>
  
  

    
    <h1>Estos son los equipos del mundial</h1>

    <div class="container">
      <div class="row">
        <div class="col">

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://phantom-marca.unidadeditorial.es/2cf8e11144e9e0abd8103a282b12a49d/resize/660/f/webp/assets/multimedia/imagenes/2021/11/12/16366925243845.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://imagenes.elpais.com/resizer/Qxkyh5JZIRCVXokvkxYaSf-dsaM=/1960x0/filters:focal(1166x113:1176x123)/cloudfront-eu-central-1.images.arcpublishing.com/prisa/AOSXJKBSQVFUXBOXA23PHLQAOM.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://televisa.brightspotcdn.com/dims4/default/c337ba5/2147483647/strip/true/crop/1920x1079+0+0/resize/820x461!/quality/90/?url=https%3A%2F%2Ftelevisa-brightspot.s3.amazonaws.com%2Fapi%2F26%2F79%2F5db1092845adb5de06f441d09ec4%2Fclasificados-al-mundial-qatar-2022.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
    
    </div>
   </div>
  </div>

    <div class="container">
       <div class="row">
         <div class="col">
             
           
    <table class="table table-bordered table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Seleccion</th>
          <th scope="col">Region</th>
          
          <tr>
            <th scope="row">1</th>
            <td>Qatar</td>
            <td>Asia</td>
            
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Alemania</td>
            <td>Europa</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Dinamarca</td>
            <td>Europa</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Brasil</td>
            <td>Sudamerica</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Francia</td>
            <td>Europa</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Argentina</td>
            <td>Sudamerica</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Belgica</td>
            <td>Europa</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Croacia</td>
            <td>Europa</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>España</td>
            <td>Europa</td>
            
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Serbia</td>
            <td>Europa</td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>Inglaterra</td>
            <td>Europa</td>
          </tr>
          <tr>
            <th scope="row">12</th>
            <td>Suiza</td>
            <td>Europa</td>
          </tr>
          <tr>
            <th scope="row">13</th>
            <td>Paises Bajos</td>
            <td>Europa</td>
          </tr><tr>
            <th scope="row">14</th>
            <td>Argentina</td>
            <td>Sudamerica</td>
          </tr>
          <tr>
            <th scope="row">15</th>
            <td>Iran</td>
            <td>Asia</td>
          </tr><tr>
            <th scope="row">16</th>
            <td>Corea del Sur</td>
            <td>Asia</td>   
          </tr>
          <tr>
            <th scope="row">17</th>
            <td>Arabia Saudita</td>
            <td>Asia</td>
          </tr>
          <tr>
            <th scope="row">18</th>
            <td>Ecuador</td>
            <td>Sudamerica</td>
          </tr>
          <tr>
            <th scope="row">19</th>
            <td>Uruguay</td>
            <td>Sudamerica</td>
          </tr>
          <tr>
            <th scope="row">20</th>
            <td>Canada</td>
            <td>Concacaf</td>
          </tr>
          <tr>
            <th scope="row">21</th>
            <td>Ghana</td>
            <td>Africa</td>
          </tr>
          <tr>
            <th scope="row">22</th>
            <td>Senegal</td>
            <td>Africa</td>
          </tr>
          <tr>
            <th scope="row">23</th>
            <td>Marruecos</td>
            <td>Africa</td>
          </tr>
          <tr>
            <th scope="row">24</th>
            <td>Tunez</td>
            <td>Africa</td>
            
          </tr>
          <tr>
            <th scope="row">25</th>
            <td>Portugal</td>
            <td>Europa</td>
          </tr>
          <tr>
            <th scope="row">26</th>
            <td>Polonia</td>
            <td>Europa</td>
          </tr>
          <tr>
            <th scope="row">27</th>
            <td>Camerun</td>
            <td>Africa</td>
          </tr>
          <tr>
            <th scope="row">28</th>
            <td>Mexico</td>
            <td>Concacaf</td>
          </tr><tr>
            <th scope="row">29</th>
            <td>Estados Unidos</td>
            <td>Concacaf</td>
          </tr>
          <tr>
            <th scope="row">30</th>
            <td>Gales</td>
            <td>Europa</td>
          </tr><tr>
            <th scope="row">31</th>
            <td>Australia</td>
            <td>Asia</td>
          </tr><tr>
            <th scope="row">32</th>
            <td>Costa Rica</td>
            <td>Concacaf</td>
          </tr>
  
        
      </tbody>
    </table>


         </div>
       </div>
      </div>





 


  </body>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</html>

   
   


     